<template name="default">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
            <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            </div>

            <div class="mdl-layout--large-screen-only mdl-layout__header-row">
                <img src="/images/talos.png" width="100">
                <h3>Talos forms</h3>
            </div>

            <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            </div>

            <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
                <a href="#overview" class="mdl-layout__tab is-active">Overview</a>
                <a href="#features" class="mdl-layout__tab">Features</a>
                <a href="#features" class="mdl-layout__tab">Details</a>
                <a href="#features" class="mdl-layout__tab">Technology</a>
                <a href="#features" class="mdl-layout__tab">FAQ</a>
            </div>
        </header>

        <main class="mdl-layout__content">
            <div class="mdl-layout__tab-panel is-active" id="overview">
                {{>Template.dynamic template=main}}
            </div>
        </main>
    </div>
</template>